<!DOCTYPE html>
<html>
  <head>
      <link rel = "stylesheet" href = "css/info.css" >
  </head>
  
  <body>
    <div id="box">
    <h1 class = "environmentalism">ENVIRONMENTALISM</h1>
    <img
         src  = "https://media.istockphoto.com/photos/green-natural-beech-tree-forest-illuminated-by-sunbeams-through-fog-picture-id540390024?k=6&m=540390024&s=612x612&w=0&h=r5WY8QdFbHeT_KdS9Jd7rJFBE2belS0j9dOoP4QEsTA=" id = "pic_size">
    <br>
    <br>
     <div id = "box">
    <h2 class = "environmentalism">More Information </h2>
        </div>
    <p class = "environmentalism">Environmentalism is a political and ethical movement for improving the environment.  </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Important People </h2>
        </div>
    <p class = "environmentalism"> <ul>
        <li> John Muir (1838-1914) was born in Scotland and emigrated to Wisconsin as a young boy. His lifelong passion for hiking led him to preserve the wilderness of the western United States, especially California. His helped create Yosemite National Park, Sequoia National Park and millions of other conservation areas. </li> <a href = "https://www.thoughtco.com/john-muir-inspired-the-conservation-movement-1773625?_ga=2.246916548.1180330513.1532019782-1634518829.1532019782"> More information</a> <br> 
        <li> Rachel Carson’s  (1907-1964) most famous work, Silent Spring, inspired the modern environmentalism movement because it described the devastating effect that pesticides were having on the environment.</li> <a href = "http://www.rachelcarson.org/Bio.aspx">More information</a><br> 
        <li> Julia "Butterfly" Hill (1974-) has lived in the branches of an ancient redwood tree in northern California to save it from being cut down. Her tree-sit became an international cause and inspired other movements against deforestation.</li> <a href= "http://www.juliabutterfly.com">More information</a><br>
        <li> Wangari Maathai (1940-2011) founded the Green Belt Movement in Africa and helped to plant over 30 million trees, providing jobs to the unemployed while also preventing soil erosion and securing firewood.  She was awarded the Nobel Peace Prize for her work improving the rights of women and the natural environments. </li> <a href = "http://www.greenbeltmovement.org/wangari-maathai">More information</a> <br> 
    </ul> </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Organizations </h2>
          </div>
        <ul> 
        <li> <a href = "http://www.climatecentral.org">Climate Central </a> </li> <br>
        <li> <a href = "https://www.edf.org">Environmental Defense Fund </a> </li> <Br>
        <li> <a href = "https://www.nature.org">The Nature Conservancy </a> </li> <br>
        <li> <a href = "https://www.nrdc.org">Natural Resources Defense FUnd  </a> </li> <br>
        <li> <a href = "https://www.americanrivers.org">American River</a> </li> <br>
        <li> <a href = "https://www.sierraclubfoundation.org">Sierra Club Foundation </a> </li> <br>
        <li> <a href = "https://www.tpl.org/#sm.0001tkzv5ftqse2vtbn2jhkycw21k">Trust For Public Land</a></li> <br> 
        
        </ul>
      
     <div id = "box">   
    <h2 class = "environmentalism"> Events near LA </h2>
    
    </div>
           <br>  
             <a href = "http://climateresolve.org/events/"> Look at this calendar for nearby events </a> 
    <br>
  
    <br>
  
    
    <br>
    <br> 
  </body>
  
    </html>


