<!DOCTYPE html>
<html>
  <head>
      <link rel = "stylesheet" href = "css/info.css" >
  </head>
  
  <body>
    <div id="box">
    <h1 class = "environmentalism">Gun Control</h1>
    <img
         src  = "http://jennimphotography.com/wp-content/uploads/2015/09/Madison-Huntsville-Alabama-Family-Lifestyle-Photographer-Jenni-M-Photography-141.jpg" id = "pic_sa_size">
    <br>
    <br>
     <div id = "box">
    <h2 class = "environmentalism">More Information </h2>
        </div>
    <p class = "environmentalism"> The United States of America has had over 154 mass shootings and nearly 8,000 people have been killed by guns just this year. Other countries have not had to endure gun violence as America has because leaders of countries have guns and assault rifles in their nation. However, leaders in the U.S have put the money they’re receiving from the NRA before the safety of American people. As the incoming generation, it is important that we speak up and use our voice to tell our government officials the importance a gun control law in the nation.  No one should be afraid of losing their life while at school, at work, a concert, a nightclub, or a movie theater. </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Important People </h2>
        </div>
    <p class = "environmentalism"> <ul>
        <li>Emma Gonzalez, Jaclyn Corin and Cameron Kasky are all survivors of the Marjory Stoneman Douglas high school shooting in Parkland, Florida. They began the March For Our Lives movement that would demand that government leaders from both sides stand up and make a change to “ensure public safety”. "</li> <br>
<br> 
    </ul> </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Organizations </h2>
          </div>
        <ul> 
        <li> <a href = "https://marchforourlives.com">March For Our Lives </a> </li> <br>
        <li> <a href = "https://everytown.org">Everytown for Gun Safety</a> </li> <br>
        <li> <a href = "http://www.bradycampaign.org/california-chapters">Brady Campaign</a> </li> <br>
        
       </ul>
      
        <div id = "box">   
    <h2 class = "environmentalism"> Events near LA </h2>
    
    </div>
           <br>  
             <a href = "https://marchforourlives.com/road-to-change/">  Check this website for March for Our Lives Updates and Tour Information</a> 
    <br>
  
    <br>
    <p> Please click <a href = "https://www.usa.gov/elected-officials"> this link </a> to contact your government officials to help save someone's life. </p> 
    
    <br>
    <br> 
  </body>
  
    </html>

 

