<!DOCTYPE html>
<html>
  <head>
      <link rel = "stylesheet" href = "css/info.css" >
  </head>
  
  <body>
    <div id="box">
    <h1 class = "environmentalism">Immigration</h1>
    <img
         src  = "https://i1.pickpik.com/photos/406/92/959/statue-of-liberty-landmark-liberty-statue-preview.jpg" id = "pic_sa_size">
    <br>
    <br>
    <div id = "box">
    <h2 class = "environmentalism">More Information </h2>
        </div>
    <p class = "environmentalism">Since Donald Trump has taken office, undocumented immigrants all over the nation are forced to live their lives in fear of being deported. Deporting these immigrants would be obligating them to leave their children and the lives they built here. President Trump has attempted to repeal several programs from the Obama Administration that protected these undocumented immigrants. However, instead of choosing to provide the asylum that immigrants are searching for, the Trump Administration has issued the “Zero- Tolerance” act. This act has immediately prosecuted immigrants and at one point where even separating these immigrants from their children who they had brought along with them. 
  </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Important People </h2>
        </div>
    <p class = "environmentalism"> <ul>
        <li> <a href = "https://en.wikipedia.org/wiki/Janet_Murgu%C3%ADa">Janet Murguria</a>,president and CEO of the National Council of La Raza (NCLR) </li> <br> 
        <li> <a href = "https://unitedwedream.org/dvteam/cristina-jimenez/">Cristina Jiménez</a>, an activist who founded United We Dream,is trying to create a community of advocates for immigrant reform.
        <li> <a href = "https://www.womensmediacenter.com/shesource/expert/marisa-franco"> Mariso Franco </a> is a #Not1More Deportation campaign organizer in Arizona</li> <br> 
    </ul> </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Organizations</h2>
          </div>
        <ul> 
        <li> <a href = "https://mariposassinfronteras.org">Mariposas Sin Fronteras </a> </li> <br>
        <li> <a href = "https://www.borderangels.org">Border Angels </a> </li> <Br>
        <li> <a href = "https://www.theyoungcenter.org">The Young Center for Immigrants Children's Rights </a> </li> <br>
        <li> <a href = "http://www.chirla.org"> Coalition for Humane Immigrant Rights of Los Angeles  </a> </li> <br>
        
        </ul>
   <div id = "box">   
    <h2 class = "environmentalism"> Events near LA </h2>
    
    </div>
           <br>  
             <a href = "http://dreamteamla.org"> Look at this calendar for nearby events </a> 
    <br>
  
    <br>
  <h3> Donate <a href = "http://www.chirla.org"> here </a> to help immigrant families who are looking to recieve their residency in America. </h3>
    
    <br>
    <br> 
  </body>
  
    </html>


