<!DOCTYPE html>
<html>
  <head>
    <title>Youth for Change</title>
   <link rel = "stylesheet" href = "css/style.css">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
    <body>
      
      <form method=POST>
<h1 id = "title"> 
      <br>
    
        Youth for Change </h1>
        <br> 
        <br>
                <h3 id="summary"> 
        <br>
        We are going to help you get involved with causes you care about. Please select the cause you care about to learn more about how you can be involved </h3> <br>
<br> 
<Br> 
      
  
     <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Environmentalism </h4>
            
              <p class="card-text p-y-1">Activists are part of a political and ethical cause to improve the environment.</p>
              <a href="/environmentalism" class="card-link">Learn more</a>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Immigration Reform </h4>
              <p class="card-text p-y-1">Activists have decided to speak out against the injustice of our nation’s current immigration system.</p>
        
              <a href="/immigration" class="card-link">Learn more</a>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Sexism</h4>
              
              <p class="card-text p-y-1">Activists are working against prejudice and discrimination on the basis of sex.</p>
              <a href="/sexism" class="card-link">Learn more</a>
             
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">LGBTQ+</h4>

              <p class="card-text p-y-1">Activists are striving to end LGBTQ+ discrimination.</p> <br>
              
              <a href="/LGBTQplus" class="card-link">Learn more</a>
         
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Gun Control</h4>
              
              <p class="card-text p-y-1">Activists want to reduce the prevalence of gun violence in light of recent mass shootings.</p>
              <a href="/guncontrol" class="card-link">Learn more</a>
             
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Suicide Awareness </h4>
              
              <p class="card-text p-y-1">Activists seek to inform people about suicide in order to stop more needless deaths from happening.</p>
              <a href="/suicideawareness" class="card-link">Learn more</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


          
<!--        <ol>-->
<!--          <li> Environmentalism: A movement regarding concerns for environmental protection and improvement of the health of the environment. </li> <br> -->
<!--          <li> Poverty: As an issue affecting 47 million Americans and billions around the world, activists are battling issues the impoverished face such as hunger and lack of educational opportunities. </li> <br>-->
<!--          <li> Police Brutality: Activists want to change police misconduct towards people of color. The most famous movement is Black Lives Matter. </li> <br> -->
<!--          <li> Suicide Awareness: Activists want to increase suicide awareness to improve the mental health of our population and prevent suicide.  </li><br>-->
<!--          <li> Immigration Reform: Activists are working to improving the immigration policies of USA and treatment towards immigrants, no matter their citizenship status. </li><br>-->
<!--          <li> Sexism: Activists are working against prejudice, stereotyping, or discrimination on the basis of sex.</li><br>-->
<!--          <li> LGBTQ+: Activists are striving to end the discrimination that the members of the LGBTQ+ community have to go through. </li><br> -->
<!--          <li> Gun Control: In light of recent mass shootings, gun control activists want to reduce the prevalence of gun violence in many ways such as increasing background checks or simply banning all guns.  </li><br>-->
<!--          <li> Healthcare Reform: Activists seek to improve the quality of health care, provide more care to citizens, and decrease the cost of health care. </li><br>-->
<!--          <li> Teen Driving Under Influence: Activists are working to decrease the amount of teens driving intoxicated as much as possible. </li><br>-->

<!--          <h3>Based on these descriptions, pick one cause you care about.</h3>-->
<!--      <input type="radio" name="response1" value="Environmentalism"> Environmentalism-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Poverty"> Poverty-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Police brutality"> Police brutality-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Suicide awareness"> Suicide awareness-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Immigration reform"> Immigration reform -->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Sexism"> Sexism-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="LGBTQ+"> LGBTQ+-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Gun control"> Gun control-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Healthcare reform"> Healthcare reform-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Teen drunk driving"> Teen drunk driving-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="submit" value="Click here for more information!">-->

  </body>

</html>