<!DOCTYPE html>
<html>
  <head>
    <title>Youth for Change</title>
   <link rel = "stylesheet" href = "public/css/style.css">
     <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
    <body>
      <form method=POST>
        <h3> We are going to help you get involved with causes you care about. In the following quiz, please select the causes you care about. Please refer to the next paragraph for more information about each cause. </h3> <br>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Environmentalism">Environmentalism</h5>
          <p class="card-text">A movement regarding concerns for environmental protection and improvement of the health of the environment.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Poverty">Poverty</h5>
          <p class="card-text"> As an issue affecting 47 million Americans and billions around the world, activists are battling issues the impoverished face such as hunger and lack of educational opportunities.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Police Brutality">Police Brutality</h5>
          <p class="card-text">Activists want to change police misconduct towards people of color. The most famous movement is Black Lives Matter.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Suicide Awareness">Suicide Awareness</h5>
          <p class="card-text">Activists want to increase suicide awareness to improve the mental health of our population and prevent suicide.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Immigration Reform">Immigration Reform</h5>
          <p class="card-text">Activists are working to improving the immigration policies of USA and treatment towards immigrants, no matter their citizenship status.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Sexism">Sexism</h5>
          <p class="card-text">Activists are working against prejudice, stereotyping, or discrimination on the basis of sex.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="LGBTQ+">LGBTQ+</h5>
          <p class="card-text">A movement regarding concerns for environmental protection and improvement of the health of the environment.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Gun Control">Gun Control</h5>
          <p class="card-text">Activists are striving to end the discrimination that the members of the LGBTQ+ community have to go through.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Healthcare Reform">Healthcare Reform</h5>
          <p class="card-text">Activists seek to improve the quality of health care, provide more care to citizens, and decrease the cost of health care..</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="Teen Driving Under Influence">Teen Driving Under Influence</h5>
          <p class="card-text">Activists are working to decrease the amount of teens driving intoxicated as much as possible.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



          
<!--        <ol>-->
<!--          <li> Environmentalism: A movement regarding concerns for environmental protection and improvement of the health of the environment. </li> <br> -->
<!--          <li> Poverty: As an issue affecting 47 million Americans and billions around the world, activists are battling issues the impoverished face such as hunger and lack of educational opportunities. </li> <br>-->
<!--          <li> Police Brutality: Activists want to change police misconduct towards people of color. The most famous movement is Black Lives Matter. </li> <br> -->
<!--          <li> Suicide Awareness: Activists want to increase suicide awareness to improve the mental health of our population and prevent suicide.  </li><br>-->
<!--          <li> Immigration Reform: Activists are working to improving the immigration policies of USA and treatment towards immigrants, no matter their citizenship status. </li><br>-->
<!--          <li> Sexism: Activists are working against prejudice, stereotyping, or discrimination on the basis of sex.</li><br>-->
<!--          <li> LGBTQ+: Activists are striving to end the discrimination that the members of the LGBTQ+ community have to go through. </li><br> -->
<!--          <li> Gun Control: In light of recent mass shootings, gun control activists want to reduce the prevalence of gun violence in many ways such as increasing background checks or simply banning all guns.  </li><br>-->
<!--          <li> Healthcare Reform: Activists seek to improve the quality of health care, provide more care to citizens, and decrease the cost of health care. </li><br>-->
<!--          <li> Teen Driving Under Influence: Activists are working to decrease the amount of teens driving intoxicated as much as possible. </li><br>-->

<!--          <h3>Based on these descriptions, pick one cause you care about.</h3>-->
<!--      <input type="radio" name="response1" value="Environmentalism"> Environmentalism-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Poverty"> Poverty-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Police brutality"> Police brutality-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Suicide awareness"> Suicide awareness-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Immigration reform"> Immigration reform -->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Sexism"> Sexism-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="LGBTQ+"> LGBTQ+-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Gun control"> Gun control-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Healthcare reform"> Healthcare reform-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="radio" name="response1" value="Teen drunk driving"> Teen drunk driving-->
<!--      <br>-->
<!--      <br>-->
<!--      <input type="submit" value="Click here for more information!">-->
<!--  </body>-->

<!--</html>-->