<!DOCTYPE html>
<html>
  <head>
      <link rel = "stylesheet" href = "css/info.css" >
  </head>
  
  <body>
    <div id="box">
    <h1 class = "environmentalism">LGBTQ+</h1>
    <img
         src  = "http://mauimagazine.net/wp-content/uploads/rainbow-maui.jpg" id = "pic_sa_size">
    <br>
    <br>
     <div id = "box">
    <h2 class = "environmentalism">More Information </h2>
        </div>
    <p class = "environmentalism"> Lesbian, gay, bisexual, and transgender (LGBT) social movements is a political ideology and social movement that advocate for the full acceptance of LGBT people in society. Activists are working towards liberation for the broader society from biphobia, homophobia, and transphobia. Additionally, activists challenge structures of masculinity and femininity, and the primacy of the gendered heterosexual nuclear family. </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Important People</h2>
        </div>
    <p class = "environmentalism"> <ul>
      <li> <a href = "https://www.makingqueerhistory.com/articles/2018/3/13/karl-hinreich-ulrichs">Karl Heinrich Ulrichs</a> was a civil servant in Germany who  is thought to have been the first gay person to publicly speak out for homosexual rights. In 1867, he urged the German government to repeal anti-homosexuality laws, which firmly established himself as the pioneer of the gay rights movement.</li> <br>
      <li> The legend of <a href = "https://www.nytimes.com/2007/03/15/obituaries/15gittings.html">Barbara Gittings</a> was that she would hitchhike to New York at the weekends dressed in male drag. She was a prominent member of the American Psychiatric Association’s fight to get homosexuality removed from the list of psychiatric disorders.
</li> <br> 
      <li> <a href = "http://www.genderspeaker.com/magnus-hirschfeld-1868-1935/">Magnus Hirschfeld</a> is believed to have coined the term ‘transvestitism’ and started a gender identity clinic. He was once described by Hitler as “the most dangerous Jew in Germany”, and the entire library of his Institute for Sexual Science was burned by the Nazis. 
</li> <br>
    </ul></p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Organizations </h2>
        </div>
    <p class = "environmentalism">         <ul> 
        <li> <a href = "https://www.familyequality.org/">Family Equality</a> </li> <br>
        <li> <a href = "http://www.glnh.org/"> The GLBT National Help Center</a> </li> <br>
        <li> <a href = "http://www.hrc.org/">Human Rights Campaign</a> </li> <br>
        <li> <a href = "https://www.lambdalegal.org/">Lambda Legal</a> </li> <br>
        <li> <a href = "http://www.nglcc.org/">National Gay and Lesbian Chamber of Commerce (NGLCC)</a> </li> <br>

        
        </p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Events near LA </h2>
        </div>
    <p class = "environmentalism"><a href = "https://www.discoverlosangeles.com/gayla"> Here are some nearby events</a></p.>
    <br>
    <br>
    </div>
  </body>
  
    </html>
