<!DOCTYPE html>
<html>
  <head>
      <link rel = "stylesheet" href = "css/info.css" >
  </head>
  
  <body>
    <div id="box">
    <h1 class = "environmentalism">Sexism</h1>
    <img
         src  = "https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/We_Can_Do_It%21.jpg/250px-We_Can_Do_It%21.jpg" id = "pic_size">
    <br>
    <br>
     <div id = "box">
    <h2 class = "environmentalism">More Information </h2>
        </div>
    <p class = "environmentalism">In our modern society, sexism is more prevalent than people would like to think. Although primarily towards women, prejudice and discrimination on the basis of sex is a danger for everyone. From example to example, sexism may be exhibited in small, seemingly innocuous events. This may portray itself as a comment thrown out in the hallways of a high school, or a girl who walks into an office on her first day of work and realizes she is the only female present. However, these situations can snowball into long-term damage. Many activists are at work to change the mindset of sexism.
</p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Important People </h2>
        </div>
    <p class = "environmentalism">Maya Angelou–she was an influential African-American poet and writer who staunchly refused to allow anyone to reduce her. “I can be changed by what happens to me. But I refuse to be reduced by it.”
<br>
Susan B. Anthony–she fought for women suffrage and founded the National Woman Suffrage Association.
<br>
Malala Yousafzai–this girl, a young activist, was shot in the head by the Talaban when she was fifteen because of all her efforts. She recovered and went on to write an autobiography and speak to various audiences, including Queen Elizabeth II and Barack Obama.
</p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Organizations </h2>
        </div>
    <p class = "environmentalism">According to the website www.nomas.org, National Organization for Men against Sexism “has been a clear and consistent national voice on behalf of men’s feminism and anti-sexism.”
<br>
According to the website www.now.org, National Organization for Women, “NOW's purpose is to take action through intersectional grassroots activism to promote feminist ideals, lead societal change, eliminate discrimination, and achieve and protect the equal rights of all women and girls in all aspects of social, political, and economic life."
<br>
According to their website www.aclu.org, American Civil Liberties Union, “the ACLU has worked to defend and preserve the individual rights and liberties guaranteed by the Constitution and laws of the United States.”
</p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Events near LA </h2>
        </div>
    <p class = "environmentalism"> Look <a href = "https://www.meetup.com/Santa-Monica-Peace-and-Justice/"> here</a> to find a meetup. “Do you care deeply about peace, social justice and economic fairness? Do you think globally but yearn for a way to act locally? As well as being anti-racist and anti-sexist, do you want to work against racism and sexism? Are you looking for an outlet to help bend the "moral arc of the universe," to feel like you have agency in the struggle to make the world a better place? Then you belong here!”
<br>
Here's <a href = "https://www.eventbrite.com/e/women-in-advocacy-and-politics-workshop-los-angeles-2018-los-angeles-ca-tickets-39330072305?aff=ebdssbdestsearch">another</a> link for a place near you.
</p.>
    <br>
    <br>
    </div>
  </body>
  
    </html>
