<!DOCTYPE html>
<html>
  <head>
      <link rel = "stylesheet" href = "css/info.css" >
  </head>
  
  <body>
    <div id="box">
    <h1 class = "environmentalism">Suicide Awareness</h1>
    <img
         src  = "https://previews.123rf.com/images/rudall30/rudall301505/rudall30150500026/39708453-sketch-illustration-of-two-hands-holding-each-other-strongly.jpg" id = "pic_sa_size">
    <br>
    <br>
     <div id = "box">
    <h2 class = "environmentalism">More Information </h2>
        </div>
    <p class = "environmentalism">According to Youth Suicide Statistics, “More teenagers and young adults die from suicide than from cancer, heart disease, AIDS, birth defects, stroke, pneumonia, influenza, and chronic lung disease, COMBINED” (prp.jasonfoundation.com/facts/youth-suicide-statistics/). Suicide is more prevalent than ever before, and it is all-too-common among the younger generation. Activists seek to inform people about suicide in order to stop more needless deaths from happening.
</p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Important People </h2>
        </div>
    <p class = "environmentalism">
    <ul>Kevin Hines–this man jumped off the Golden Gate Bridge in attempted suicide but then realized he didn’t actually want to die. He miraculously survived and went on to write a memoir, produce a film, and speak to schools about the importance of mental health.</ul>
<br>
<ul>Alison Malmon–after her older brother committed suicide, Alison started an organization called Active Minds that now reaches out to over 600 campuses to impact students and mental health.</ul>
</p.>
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Organizations </h2>
        </div>
    <p class = "environmentalism"> <ul> 
        <li> <a href = 
        "www.activeminds.org">Active Minds</a> </li> <br> 
<li> <a href = "www.speakup.us">Speak Up</a></li> <br>
<li><a href = "www.projectwakeup.org">Project Wake Up</a></li> <br>

</p.>
</ul> 
        <br>
        <div id = "box">
    <h2 class = "environmentalism">Events near LA </h2>
        </div>
    <p class = "environmentalism"> Click <a href = "https://suicidepreventionlifeline.org/our-crisis-centers/"> here</a> to support a crisis center in LA. </p.>
    <br>
    <br>
    </div>
  </body>
  
    </html>
